body {
	font-family: Karla, sans-serif;
}

.container {
	font-size: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/* ===== HEADER ===== */

header {
	padding: 5% 7.5%;
	overflow: auto;
}

header .title {
	width: 58.75%;
	margin-right: 5%;
	float: left;
}

header .title h1 {
	font-size: 2em;
	margin-bottom: 0.5em;
}

header .title h2 {
	font-size: 1.5em;
	color: #999;
}

header .contact {
	width: 21.25%;
	float: right;
	line-height: 1.5em;
	color: #999;
}

/* ===== MAIN ===== */

main {
	background: #000;
	color: #fff;
	padding: 7.5%;
	overflow: auto;
}

main .about {
	width: 70%;
	margin-right: 5%;
	float: left;
	font-size: 1.5em;
	line-height: 1.4em;
	color: #ccc;
}

main .skills {
	width: 25%;
	float: right;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	color: #666;
	line-height: 1.5em;
}

main ul.work {
	clear: both;
	padding-top: 7.5%;
}

main ul.work li {
	float: left;
	width: 48%;
	margin-bottom: 4%;
}

/* add margin to every other image */
main ul.work li:nth-child(2n-1) {
	margin-right: 4%;
}

main ul.work li img {
	max-width: 100%;
}

/* ===== FOOTER ===== */

footer {
	padding: 5% 7.5%;
	color: #999;
}
